@tailwind base;
@tailwind components;
@tailwind utilities;
/* css variables */
@font-face {
  font-family: "Hand Of Sean";
  src: local("Hand Of Sean"),
    url("/fonts/HandOfSean/Hand_Of_Sean_Demo.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --font-color: #00004f;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  color: var(--font-color);
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* > * {
  box-sizing: border-box;
}
